<section >
    <div class="row my-5 py-5">
        <div class="container my-5 py-5">
            <div class="col-md-12 text-center my-2">
                <h1>Order Placed Successfully</h1>
                <h2>Thank you for ordering from Srees Cake Art  :)</h2>
                <h4>Your cake is being baked as we speak</h4>
                <a href="/orders" class="btn bg-black text-white mt-2">View Orders</a>
            </div>
        </div>
    </div>
</section>