<div class="row">
  <div class="col-md-6 m-auto">
    <div class="container  mt-5 pl-5">
      <h1 class="text-center">Signup</h1>
      <form action="/signup" method="post">

        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input name="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>
         <div class="form-group">
          <label for="PhoneNumber">Contact Number</label>
          <input name="PhoneNumber" type="number" inputmode="numeric" class="form-control" id="PhoneNumber" placeholder="Number">
        </div>

        <div class="form-group ">
          <label for="exampleInputEmail1">Email address</label>
          <input name="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="Password" type="password" class="mb-1 form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <a class="m-4" href="/login">Already have an account?</a><br>
        <button type="submit" class="m-2 mt-3  btn btn-primary float-right">Sign Up</button>
      </form>
    </div>
  </div>
</div>